.account-aside {
  display: flex;
  position: relative;
  &__nav {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    &:after {
      background: rgba($gloryGreyColor, .5);
      width: 1px;
      height: 100%;
      content: '';
      flex-shrink: 0;
      position: absolute;
      top: 0;
      left: 65rem;
    }
    &-item {
      margin: 0;
      padding: 0;
      flex-shrink: 0;
      &:not(:last-child) {
        margin-bottom: 14rem;
      }
    }
    &-link {
      width: 50rem;
      height: 50rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgba($fontColor, .6);
      transition: $transition;
      &:hover {
        text-decoration: none;
      }
      &.is-active {
        background: $lightBlueColor;
        background: rgba($accentColor, .1);
        color: $accentColor;
        border-radius: $radiusSm;
      }
      &-icon {
        width: 24rem;
        height: 24rem;
      }
      &-title {
      }
    }
    &-sub {
      margin: 0;
      padding: 0;
      list-style-type: none;
      position: absolute;
      top: 0;
      right: -16rem;
      left: 81rem;
      &-item {
        margin: 0;
        padding: 0;
      }
      &-link {
        height: 50rem;
        padding: 14rem;
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: var(--fs-6);
        color: rgba($fontColor, .5);
        border-radius: $radiusSm;
        transition: $transition;
        &:hover {
          text-decoration: none;
        }
        &.is-active {
          background: $accentColor;
          color: $whiteColor;
        }
        &-icon {
          height: 24rem;
          margin-right: 8rem;
          flex: 0 0 24rem;
        }
        &-title {
        }
      }
    }
  }
}