.card-section {
  font-family: $accentFamily;
  &__container {
  }
  &__row {
    display: flex;
    flex-wrap: nowrap;
  }
  &__col {
    &--media {
      max-width: 478rem;
      margin-right: 8.2%;
      flex: 0 0 41%;
    }
    &--main {
      flex-grow: 1;
    }
  }
  &__media {
    &-top {
      margin-bottom: var(--gap-fluid);
      position: relative;
    }
    &-action {
      width: 100%;
      padding: var(--gap-fluid);
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      &-btn-prev {
      }
      &-btn-favorite {
      }
    }
    &-main {
      &-picture {
        @extend %img-cover;
        padding-bottom: 100%;
        border-radius: $radiusMd;
        position: relative;
        overflow: hidden;
        img {
        }
      }
    }
    &-main-dot {
      width: 100%;
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 38rem;
      left: 0;
      button {
        @extend %btn-reset;
        background: $blackColor;
        width: 8rem;
        height: 8rem;
        margin: 0 7rem;
        border-radius: 50%;
        cursor: pointer;
        &:not(:first-child) {
          opacity: .2;
        }
      }
    }
    &-nav {
      margin: 0 var(--gap-);
      display: flex;
      &-col {
        max-width: 25%;
        padding: 0 var(--gap);
        flex: 0 0 25%;
      }
      &-picture {
        @extend %img-cover;
        padding-bottom: 100%;
        border-radius: $radiusSemi;
        position: relative;
        overflow: hidden;
        img {
        }
      }
    }
  }
  &__main {
    &-info {
      margin: 0 0 25rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      &-cashback {
        margin-right: 20rem;
        flex-shrink: 0;
      }
      &-vendor {
        margin: 0;
        flex-shrink: 0;
        color: $greyColor;
      }
    }
  }
  &__title {
    margin: 0 0 28rem;
    font-family: $fontFamily;
    line-height: $lineHeightSm;
  }
  &__weight {
    margin: 0 0 70rem;
    &-title {
      margin: 0 0 13rem;
    }
    &-inner {
      display: flex;
    }
    &-list {
      margin-right: 26rem;
      flex-wrap: wrap;
    }
    &-availability {
      flex-shrink: 0;
      align-self: center;
    }
  }
  &__info {
    margin: 0 0 38rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &-left {
      padding-right: var(--gap-fluid);
      flex-shrink: 0;
      flex-grow: 1;
    }
    &-header {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    &-tip {
      margin-right: 12rem;
      margin-bottom: 6rem;
    }
    &-price-old {
      margin-bottom: 6rem;
      font-size: var(--fs-5);
    }
    &-price {
    }
    &-action {
      &-wrapper {
        display: flex;
        align-items: center;
      }
      &-count {
        width: 150rem;
        margin-right: 15rem;
      }
      &-btn {
      }
      &-help {
        margin-top: 10rem;
        font-size: var(--fs-6);
        text-align: right;
        &-link {
          font-size: inherit;
          box-shadow: inset 0 -1px 0 currentColor;
          opacity: .4;
          transition: $transition;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  &__faq {
    margin: 0 0 6rem;
    &-item {
      &:not(:last-child) {
        border-bottom: 1px solid rgba(#636363, .3);
      }
    }
  }
  &__help {
    &-link {
      display: inline-flex;
      align-items: center;
      font-size: var(--fs-3);
      opacity: .4;
      transition: $transition;
      transition-property: opacity;
      &:hover {
        text-decoration: none;
      }
      .u-icon {
        margin-right: 8rem;
        flex-shrink: 0;
      }
      span {
        box-shadow: inset 0 -1px 0 currentColor;
        transition: $transition;
        transition-property: box-shadow;
      }
    }
  }
}