.goods-section {
  padding: 60rem 0;
  &__container {
  }
  &__header {
    margin: 0 0 25rem;
    display: flex;
    align-items: center;
    &-badge {
      flex-shrink: 0;
      position: relative;
      top: -9rem;
    }
    &-aside {
      margin-left: auto;
      flex-shrink: 0;
    }
    &-moore {
      @extend %area-click;
      font-weight: 600;
      color: $greenColor;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__title {
    margin: 0 9rem 0 0;
  }
  &__list {
  }
  &__row {
    --gap: 16rem;
    --gap-: -16rem;
  }
  &__col {
    &--5 {
      max-width: 20%;
      flex-basis: 20%;
    }
  }
  &__card {
    height: 100%;
  }
}